.sidenav {
    background: #3f51d5;
    width: 200px;

    a {
        color: #fff;
    }
    
    i {
        padding-right: 10px;
    }
}


.content {
    padding: 1rem;
    background-color: #fff;
}